div.sdmenu {
	width: 160px;
	font-family:\5B8B\4F53,Arial Narrow,arial,serif;
	font-size: 14px;
	padding-bottom: 10px;
	/*background: url(bottom.gif) no-repeat  right bottom;*/
	color: #fff;
}
div.sdmenu div {
	background: url(title.gif) repeat-x;
	overflow: hidden;
	text-align:center;
	border-top:1px dashed #C1B1A1;
	margin-top:3px
}
div.sdmenu div:first-child {
	background: url(title.gif) repeat-x;
	border-top:1px dashed #C1B1A1
}
div.sdmenu div.collapsed {
	height: 33px;
	background:url(title_collapsed.jpg);
	border-top:1px dashed #C1B1A1;
	margin-top:5px;
}
div.sdmenu div span {
	display: block;
	padding: 12px 15px 5px 20px;
	height: 19px;
	font-weight:700;
	color: white;
	/*background: url(expanded.gif) no-repeat 10px center;*/
	cursor: pointer;
}
div.sdmenu div.collapsed span {
	/*background-image: url(collapsed.gif);*/
	color: #8C724D;
}
div.sdmenu div a {
	padding: 8px 10px 0 0;
	height: 19px;
	margin-left:12px;
	font-size:13px;
	display: block;
	border-left: 1px solid #9C7C53;
	color: #8C724D;
}
div.sdmenu div a.current {
	/*background: url(menu_bg.jpg) repeat-x;*/
	color:#DE810E
}
div.sdmenu div a:hover {
	/*background : #849B53 url(linkarrow.gif) no-repeat right center;*/
	color: #DE810E;
	text-decoration: none;
}