/* CSS Document */
body { font-size: 12px; background: #fff; margin:0; padding:0;font-family: Arial,sans-serif;}
* { font-family: Tahoma; padding: 0;margin:0 }
td,th,div{ WORD-BREAK: break-all;word-wrap:break-word}
table{ empty-cells: show;}
img { border: 0}
h3,h2{ display:inline; font-size:1.0em; font-weight:normal}
h3 a { color:#000000}
h4{ margin: 20px 0 10px; font-size:1.1em }
h5{ margin: 5px 0 10px; font: bold 12px/14px Arial; color: #002F79; }
fieldset { border:1px solid #c1e7f0}
.c { clear: both; height: 0; font: 0/0 Arial; }
.b { font-weight:bold }
.tal{ text-align:left}
.tac{ text-align:center}
.tar{ text-align:right}
.fr{ float:right}
.fl{ float:left}
.red{color:red;}

/*字体大小*/
.f9{ font-size:80%; font-family:Arial}
.f10{ font-size:10px; font-family:Arial }
.f12{ font-size:12px}
.f14{ font-size:14px}
.fn, .fn a{ font-weight:normal}

/*span color 数值自定义*/
.s1{ color: #008000; }
.s2{ color: #984B98; }
.s3{ color: #FA891B; }
.s4{ color: #0033FF; }
.s5{ color: #659B28 }
.black,.black *{ color:#000}
.gray,.gray *{ color:#818a89 } /*次要文字颜色-可定义*/
.hr{ background: #D3EAF0 }
/*main color 数值自定义*/
.f_one { background: #FFFFFF;}
.f_two { background: #fff;}
.t_one { background: #FFFFFF;}
.t_two { background: #F7F8F8;}
.r_one { background: #FFFFFF;}
.r_two { background: #FFFFFF;}
/*form*/
textarea,input,select{ font:12px Arial; padding: 1px 3px 0 3px ; vertical-align:middle ; margin-bottom:1px }
select { border: solid 1px #C3DFEA;}
.btn { border:3px double #86B9D6; background:#8aBfDa; height:30px ;  }
/*.input {border: solid 1px #82C5D8; padding: 2px 0px 2px 1px ;font-size:1.0em;background:#fff; vertical-align:middle}*/
.input {border: solid 1px #7F9DB9; padding: 2px 0px 2px 1px ;font-size:1.0em;background:#fff; vertical-align:middle}
.file{ padding: 2px 3px 0 3px ; height: 21px}
form{ display:inline;margin:0 ; padding:0}
textarea { border: solid 1px #388EB0; }
/*a link 基本连接颜色 */
a { TEXT-DECORATION: none; color:#2f5fa1 }
a:hover{ text-decoration: underline;}
a.a1{ color:#000;}
a.a2{ font-weight: normal; }
.bklogo img{ padding-right:5px}
.udl *{ text-decoration:underline }
.ad a { color:#555}
/*header*/
#header{ width:98%; margin:auto }
/*header*/
.banner{ background: #ffffff; padding-right:3%}
.banner img {vertical-align:middle; }
/*table */
.t { border: 1px solid #d2eefb; width:99%; margin: 0px auto 8px}
.t table{ border:1px solid #fff ; margin:0 auto; width:99.98%;}
.t2 { border-top:#C1E7F0 1px solid ;margin: 0px auto 5px;}
.t3 { margin: auto}
.t4{ padding:1px 0 1px 1px }
/*table head*/
.head td { border-bottom:2px solid #c2e9f9;border-right:2px solid #c2e9f9;border-left:2px solid #e6f5ff;background: #e6f5ff; text-align: left;color:#004c7d ;padding: 6px 7px 5px 7px; }
.head span { color:#5599bb;font-weight: normal; }
.head h2{ font-weight:bold}
.head a{ font-family: Arial; color:#004c7d }
.head span a{ color: #5599bb; }
.head a.a2{ font-weight: normal; float: right; margin-left: 12px; }
/*table line*/
.line td{border-bottom:1px #e4e2da dashed;min-height:30px;line-height:150%;color:#000;padding:3px 5px 3px 10px;}
/* table tr1 */
.tr1 th{ padding: 5px 10px; text-align: left; vertical-align: top; font-weight: normal; }
.tr1 td.td1{ border:1px solid #E4F5F9; border-spacing:3px; border-top:1px solid #E4F5F9 }
/*table tr2*/
.tr2 {background:#f3f8ef}
.tr2 td,.tr2 th{text-align:left; color: #659b28; line-height:21px; border-bottom:1px solid #daebcd; border-top:1px solid #c4d2dB; padding:0 6px 2px }
.tr2 th { font-weight: normal}
.tr2 a { color:#5F7937; margin-left:5px }
/*table tr3*/
.tr3 td,.tr3 th { border-bottom: 1px solid #D4EFF7 ; padding: 5px 8px}
.tr3 th { text-align: left; font-weight: normal;}
.tr4 td { background: #DCECF4; padding: 4px 10px; color: #002F79;}
.tr td, .tr th{ padding: 2px }
/*topic content tips*/
.tpc_content { font-size:14px; font-family: Arial; padding: 0 2% 0 0.5%; margin:0 0 2%}
.tips{ background: #E6F3F7; border: #ADD2E1 1px solid; padding: 5px; margin: 0 1% 1% 0; float: left; text-align: center;}
.tiptop{ border-bottom: 1px solid #c1e7f0; padding: 0 0 5px 0; vertical-align: middle; } /* 边框颜色可自定义,颜色与 div.t 相同*/
.tipad{ border-top: 1px solid #c1e7f0; margin: 10px 0 0; padding: 5px 0 0; }
.quote { font-size:70%;color:#626669; margin:2px; padding:0}
blockquote { width:92%; font-size:85%;color:#81888c; border:1px solid #bfdce3; border-left-width:3px;padding:5px; margin:0 0 1%}
/*menu
.menu{ position: absolute; filter : progid:DXImageTransform.Microsoft.Alpha(opacity=93);opacity:0.9; border:1px solid #ADD2E1;}
.menu .h { padding-bottom:0}
.menu td{ background:#E2EFF5; padding:0}
.menu td a{ color:#282973; display: block; height:14px; padding:5px 15px 3px 15px}
.menu td a:hover{ background:#ACCBDB; text-decoration:none}
*/
/*guide*/
.guide { text-align:right; background: #DCECF4 ; color:#282973; padding:5px 12px 3px; border-bottom:#DCECF4 3px double  }
.guide a{ color:#282973; }
.guide a:hover{ color: #006699}
.guide b{ color:#050646}
/*pages*/
.pages { width:98%;margin:3px 0; text-align:right}
.pages * { vertical-align: middle;}
.pages a{ padding:1px 4px 1px; background:#f9fcff;border:1px solid #A1C4CD; margin:0 1px 0 0; color: #002F79; text-align: center; text-decoration: none; font:normal 12px/14px verdana; }
.pages a:hover { border:#37A717 1px solid; background:#EDFFE4; text-decoration:none; color: #002F79}
.pages input { margin-bottom:0px; border:1px solid #87C932; height: 15px; font:bold 12px/15px Verdana; padding-bottom:1px; padding-left:1px;margin-right:1px;color:#499000; }
.pages b { padding:2px ;margin: 0 3px;font:bold 10px/12px Tahoma}
/* toolbar */
.toptool { clear:both; border-bottom:1px solid #EAF9DA; background: #f7ffee; text-align:right;width:100%; color:#EAF9DA}
.toptool span{ padding:3px 15px; line-height:200% }
/*footer*/
#footer { width:100%; text-align:center}

/* tablist */
.tablist { border-bottom: 0px solid #FF8100; width:99%; margin: 0px auto 8px; margin-bottom:0; padding:0; height:26px;}
.tablist .onlist{float:left;margin:0 7px 0 5px;padding:0;}
.tablist .offlist{float:left;margin:0 7px 0 5px;padding:0;}
.tablist .onlist a{color:#000}
.tablist .offlist a{color:#000;}
.onlist .list_left{float:left;background:url(../../admin/images/tablist_on_left.jpg);width:5px;height:26px}
.onlist .list_mid{float:left;background:url(../../admin/images/tablist_on_mid.jpg);width:auto;line-height:26px;font-weight:700;}
.onlist .list_right{float:left;background:url(../../admin/images/tablist_on_right.jpg);width:5px;height:26px}

.offlist .list_left{float:left;background:url(../../admin/images/tablist_off_left.jpg);width:5px;height:26px}
.offlist .list_mid{float:left;background:url(../../admin/images/tablist_off_mid.jpg);width:auto;line-height:26px;font-weight:700;c}
.offlist .list_right{float:left;background:url(../../admin/images/tablist_off_right.jpg);width:5px;height:26px}

.m {height: 5px;}
.sub { height:30px; text-align:center;}
.help { position:absolute; background-color:#ffffb5; border:1px solid #b5aa94; color:#000;width:200px; right:5px; bottom:20px;height:100px;}
.helpHead { background-color:#c2d605; padding-left:5px; padding-top:2px; height:20px;}
.helpMsg { padding:2px 2px 2px 4px; line-height:150%}

/*edit travle route*/
fieldset legend{color:#0046E3;padding:0 5px 0 15px; cursor:pointer;}
.fieldset-open{background:url(../../../admin/images/edit_open.gif) no-repeat;background-position:0% 46%;}
.fieldset-close{background:url(../../../admin/images/edit_close.gif) no-repeat;background-position:0% 46%;}
.form-item{padding:5px 0 10px 20px}
.form-textarea{width:55%; border:1px solid #7F9DB9; background:none}
.form-text{width:55%;}
.description{ color:#666666; font-size:10px}

/*这个将是鼠标高亮行的背景色*/
tr.over td { background:#DCECF4;color:#000; cursor:pointer }
tr.over a{color:#000 }